@using MyPark.Model.DataBase.Models
@model IEnumerable<MyPark.Model.DataBase.Models.tipoveiculo>

@{
    ViewBag.Title = "TipoVeiculo";
}

<h2>TipoVeiculo</h2>

<script type="text/javascript">
    function abrirTelaAddTipoVeiculo() {
        $("#dlgAddTipoVeiculo").modal("show");
    }
</script>

@Ajax.ActionLink("Cadastrar","ExibirAddTipoVeiculo", new AjaxOptions()
{
    HttpMethod = "post",
    UpdateTargetId = "telaAddTipoVeiculo",
    OnSuccess = "abrirTelaAddTipoVeiculo",
    LoadingElementId = "loadAjax",
    InsertionMode = InsertionMode.Replace
})

<div id="tblTipoVeiculo">
    @Html.Partial("_TabelaTipoVeiculo", Model)
</div>


<div id="telaAddTipoVeiculo">
    
</div>

